.sidebar {
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #39393b;
  position: absolute;
  z-index: -1;
  text-align: center;
}

.header-container {
  position: relative;
  margin-top: 40px;
  height: 260px;
}

.header-name {
  top: calc((100% - 200px) / 2);
  background-color: #f33f4b;
  height: 200px;
  width: 300px;
  position: absolute;
  z-index: 2;
}

.header-constrast {
  border: 2px solid #868686;
  height: 260px;
  width: 150px;
  position: absolute;
  left: -2px;
  z-index: 1;
}

.sidebar-font-heading {
  color: whitesmoke;
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;
}
