//$primary: #c20000;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.nav-bar {
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-left {
  height: 100%;
  width: 45%;
  background-color: #c0484b;
  position: fixed;
  z-index: -1;
  top: 0px;
}

.bg-right {
  height: 100%;
  width: 55%;
  top: 0px;
  right: 0px;
  background-color: white;
  position: fixed;
  z-index: -1;
}

.bg-left-inner,
.bg-right-inner {
  height: 100%;
  width: 100%;

  flex-direction: column;
  display: flex;
  align-items: center;
}

.bg-left-inner {
  background-color: #c0484b;
}

.bg-right-inner {
  background-color: white;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.middle-container {
  max-width: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 20%;
}
.footer-left-inner {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
}
.subheading-left-inner {
  font-weight: 500;
  font-size: 1rem;
}

.bi-linkedin {
  font-size: 25px;
  transition: color 1s;
}

.bi-linkedin:hover {
  color: #0a66c2;
  cursor: pointer;
}

.heading-left-inner {
  font-size: 5rem;
  font-weight: 600;
}

.role {
  font-size: 14px;
  font-weight: 500;
}
//create themes
//interactivy when hover
//linkedin icon change to linkedin blue when hover
