.sidebar {
  top: 0;
  height: 100%;
  width: 300px;
  background-color: #39393b;
  position: absolute;
  z-index: -1;
  text-align: center;
}

.header-container {
  position: relative;
  margin-top: 40px;
  height: 260px;
}

.header-name {
  top: calc((100% - 200px) / 2);
  background-color: #f33f4b;
  height: 200px;
  width: 400px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 2s, height 2s, font-size 2s;
}
.header-name:hover {
  width: 60vw;
  height: 200px;
  font-size: 35px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header-constrast {
  border: 2px solid #868686;
  height: 260px;
  width: 200px;
  position: absolute;
  left: -2px;
  z-index: 1;
  transition: border 2s;
}

.header-constrast:hover {
  border: 2px solid whitesmoke;
}

.sidebar-font-heading {
  color: whitesmoke;
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;
  transition: color 1s;
}

.sidebar-font-heading:hover {
  color: #f33f4b;
}

.test {
  position: fixed;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}